<!DOCTYPE html>
<h1 class="category-title">choose a category</h1>
<% if (currentUser) {%>
    <form  action="/logout" method="post">
      <input class="logout" type="submit" value="l">
    </form>
 <% } %>
  <div class="category-container">
    <div class="category-div a "><a class="category-link E" href="/categories/entertainment">e</a></div>
    <div class="category-div b"><a class="category-link P"  href="/categories/politics">p</a></div>
    <div class="category-div c"><a class="category-link S"  href="/categories/science-technology">s</a></div>
    <div class="category-div d"><a class="category-link N"  href="/categories/nonsense">n</a></div>
    <div class="category-div e"><a class="category-link O"  href="/categories/film">f</a></div>
    <div class="category-div f"><a class="category-link M"  href="/categories/music">m</a></div>
  </div>