<!DOCTYPE html>
<h1 class="category-title">choose a thread</h1>
<div class="newthread"><a class="newthread-link" href="/threads/new">new</a></div>
<div class="category-container">
	<% allThreads.forEach(function (thread, i) { %>
	<% thread.tags.forEach(function (tag, i) { %>
		<% if (tag == "entertainment") { %>
			<div class="index-div entertainment"><a  class="index-link"href="/thread/<%= thread._id %>"><%= thread.title %> (comments: <%= thread.comments.length %>)<a/></div>
		<% }; %>
	<% }); %>
	<% }); %>
</div>

