<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Music</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Music thread</h1>
  <button><a href="/threads/new">Create New Thread</a></button>
 

 <h2>LINKS WITH ALL THE TITLES OF POSTS THAT HAVE THREADS WITH MATCHING TAGS</h2>

  <a href=""><h3>WHEN YOU CLICK IT TAKES YOU TO THAT ORIGINAL POST WITH  ALL THE COMMENTS/ADD NEW COMMENT</h3></a>
</body>
</html>