<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Politics</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Politics Thread</h1>
  	<form action="/logout" method="post">
	    <input type="submit"
	            value="Logout">
  	</form>

	<button><a href="/threads/new">Create New Thread</a></button>
	<% allThreads.forEach(function (thread, i) { %>
		<% thread.tags.forEach(function (tag, i) { %>
			<% if (tag == "poitics") { %>
				<% console.log(thread._id)%>
				<h3><a href="/thread/<%=thread._id %>"><%= thread.title %><a/></h3>
			<% }; %>
		<% }); %>
	<% }); %>
 
</body>
</html>