<!DOCTYPE html>
<html lang="en">  
<head>
	<link href='https://fonts.googleapis.com/css?family=Martel+Sans:900' rel='stylesheet' type='text/css'>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>.dot</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

		  <div class="nav-container">
		  	<a class="nav nav-a nava" href="/categories">h</a>			
		  	<a class="nav nav-b navb" href="/categories/entertainment">e</a>
			<a class="nav nav-c navc" href="/categories/poitics">p</a>
			<a class="nav nav-c navd" href="/categories/music">m</a>
			<a class="nav nav-e nave" href="/categories/film">f</a>
			<a class="nav nav-f navf" href="/categories/science-technology">s</a>
			<a class="nav nav-g navg" href="/categories/nonsense">n</a>
		</div>

  <%- body %>

  <script type="text/javascript" src="/app.js"></script>
</body>
</html>