<!DOCTYPE html>
<html lang="en">  
<head>
	<link href='https://fonts.googleapis.com/css?family=Martel+Sans:900' rel='stylesheet' type='text/css'>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <title>.dot</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  	<div class="nav-container">
	  	<div class="nav-a"><a class="nav nava" href="/categories">h</a></div>
		<div class="nav-b"><a class="nav navb " href="/categories/entertainment">e</a></div>
		<div class="nav-c"><a class="nav navc" href="/categories/poitics">p</a></div>
		<div class="nav-d"><a class="nav navd" href="/categories/music">m</a></div>
		<div class="nav-e"><a class="nav nave" href="/categories/film">f</a></div>
		<div class="nav-f"><a class="nav navf" href="/categories/science-technology">s</a></div>
		<div class="nav-g"><a class="nav navg" href="/categories/nonsense">n</a></div>
	</div>
  <%- body %>

  <script type="text/javascript" src="/app.js"></script>
</body>
</html>