<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Enter your login or sign up</h1>
  <form action="" method="">
    <span>Username</span><input  type="text"
            name="user[username]"
            placeholder="Enter Username"><br/>
    <span>Password</span><input  type="text"
            name="user[password]"
            placeholder="Enter Password"><br/>
  </form>
  <form>
    <input  type="submit"
            value="Login"><button><a href="/users/new">Sign Up!</a></button><br/>
  </form>



<a href="/topics/categories">SKIP</a></button>



</body>
</html>