body {
	background-color: #EEEEEE;
	font-family: 'Martel Sans', sans-serif;
	color: #323237;
}

form {
	width: 60%;
	margin: 0 auto;
}

a{
	text-decoration: none;
	color: grey;
}

a:hover {
	text-decoration: none;
	color: white;
}

h1 {
	text-align: center;
	padding-bottom: 0px;
	font-size: 50px;
}	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: red;
}

h2 {
	text-align: center;
	font-size: 20px;
	display: inline;
}
h3 {
	width: 400%;
}


h5 {
	position: absolute;
	top: 577px;
    left: 600px;
}

.nav-container {
	position: fixed;
}

 .logout, .nav {
	color: white;
	text-align: center;
	position: relative;
	margin-top: 5px;
	text-decoration: none;
	display: block;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	left: -15px;
    top: -13px;
	line-height: 60px;
}

.logout, .nav-a, .nav-b, .nav-c, .nav-d, .nav-e, .nav-f, .nav-g {
	position: relative;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #CDCDCD;
	left: 10px;
	top: 2px;
	line-height: 30px;
}


.logout{
	border: none;
    top: 541px;
    left: 4px;
    position: fixed;
}

.nav-a:hover, .logout:hover {
	background-color: #666666;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px
} 
.nav-b:hover {
	background-color: #92CDB8;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px;
	overflow:none;
	word-wrap: break-word;
	line-height: 20px;
	padding-top: 23px
} 
.nav-c:hover {
	background-color: #92A769;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px
} 
.nav-d:hover {
	background-color: #D68E61;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px
}
.nav-e:hover {
	background-color: #D87E7E ;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px
}
.nav-f:hover {
	background-color: #D0B566;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px
}
.nav-g:hover {
	background-color: #BC96C6;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px
}
.nav-h:hover {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	line-height: 80px

}

.hide-bar {
	background-color: #EEEEEE;
	width: 127px;
    height: 253px;
    position: fixed;
}










.login, .signup{
	width: 450px;
	height: 450px;
	border-radius: 225px;
	background-color: red;
	display: inline-block;
	margin: 10px;
	color: white;
	font-size: 50px;
	position: relative;
}

.login {
	background-color: #869BDA;
}
 .signup {
 	background-color: #EB7D7D;
 }

.welcome-container {
	width: 73.8%;
	height: 461px;
	margin: 0 auto;
	margin-top: 
}

.welcome-text {
	margin-top: 42%;
	display: block;
}

.login-form, .signup-form {
	font-size: 20px;
	margin-top: 27%;
}

input {
	color:black;
}











.category-container {
	width: 85%;
	height: 443px;
	margin: 0 auto;
} 

.category-div {
	display: inline-block;
	height: 100px;
	width: 100px;
	font-size: 40px;
	border-radius: 50px;
	margin: 122px;
	margin-bottom: 5px;
	position: fixed;

}

.category-div:hover {
	height: 300px;
	width: 300px;
	border-radius: 150px;
	margin: 22px;

}

.category-link {
	text-align: center;
    display: block;
    position: relative;
    margin-top: 37%;
    font-size: 34px;
    color: white;
}


.category-title {
	color: #3F3F44;
}















.index-div {
	height: 300px;
	width: 300px;
	font-size: 40px;
	border-radius: 150px;
	margin: 22px;
	margin-bottom: 5px;
	background-color: #92CDB8;
	display: inline-block;

}


.index-link {
	text-align: center;
    display: block;
    position: relative;
    margin-top: 37%;
    font-size: 20px;
    color: white;
    top: 23px;
}















.post-container {
	border: 1px solid #84B2E1;
 	width: 700px;
 	height: 700px;
 	border-radius: 360px;
 	margin: 0 auto;
 	background-color: #84B2E1;
 	color: white;
 	margin-top: 10px;
}

.post-title {
 	text-decoration: underline;
 	display: block;
 	font-size: 40px;
 	padding: 10px;
 	padding-bottom: 0;
 	margin-top: 16%;
 	margin-left: 66px;
 	margin-right: 73px;
 	margin-bottom: 0px;

 }

 .like {
 	height: 50px;
 	width: 50px;
 	border-radius: 25px;
 	border: none;
 	background-color: #F1A4D7;
 	position: fixed;
    color: white;
    top: 43px;
    left: 1164px;
 }

 .like:hover {
 	background-color: #A35EA3; 
 }

.delete, .submit-comment {
	height: 50px;
 	width: 50px;
 	border-radius: 25px;
 	border: none;
 	background-color: #74C19B;
 	position: fixed;
 	top: 9px;
    left: 1190px;
    font-size: 12px;
 	color:white;
}
 .delete:hover {
 	background-color: #46745D;
 }

.edit {
	height: 50px;
	color:white;
 	width: 50px;
 	border-radius: 25px;
 	border: none;
 	background-color: #FFD089;
 	position: fixed;
 	font-size: 12px;
 	top: 9px;
    left: 1144px;
}
 .edit:hover {
	background-color: #C1672B;
}
 .author {
 	display: block;
 	padding: 0;
 	margin: 0;
 }

 .post {
 	width: 100%;
 	margin: 0 auto;
 	padding: 40px;
 	font-size: 27px;
 	text-align: left;
 	word-wrap: normal;

 }

 .comment-button {
 	width: 80px;
 	height: 80px;
 	border-radius: 40px;
 	background-color: #B193CF;
 	position: fixed;
 	top: 84px;
    left: 1150px;
 }

 .comment-button:hover {
 	background-color: #4C3364;
 }

 .comment-button-text {
 	position: relative;
 	color: white;
 	z-index: 5;
 	font-size: 14px;
 	top: 10px;
 	left: 3px;
 }

 .comment-container {
 	width: 55%;
 	margin: 0 auto;
 }

 .comment-block {
 	display: block;
 	font-size: 20px;
 }

 .comment-left {
 	width: 400px;
 	height: 400px;
 	background-color: #CBCBF0;
 	border-radius: 250px;
 	margin-top: -100px
 }

 .comment-right {
 	width: 400px;
 	height: 400px;
 	background-color: #675579;
 	border-radius: 250px;
 	display: block;
 	position:relative;
 	left: 300px;
    margin-top: -185px;
    margin-bottom: -185px;
 }

 .comment {
 	color: white;
	position: relative;
    text-align: center;
    margin: 20px;
    top: 89px;
    left: 11px;
    word-wrap: normal;
    display: inherit;
    width: 327px;
    line-height: 30px;
}

.new-comment {
	z-index: 2;
	position: fixed;
	background-color: #C1DD8D;
	height: 400px;
	width: 400px;
	border-radius: 200px;
	top: 10px;
	left: 440px;
}

.newcomment-hide {
	display: none;
}

.textarea {
	position: relative;
	top: 88px;
	left: -39px;
}

.textarea-hide {
	display: none;
}

.box {
	color: white;
	background-color: #C1DD8D;
	border: none;
	outline: none;
	font-size: 20px;
}

.submit-comment, .cancel {
	position: relative;
	top: 0px;
    left: 137px; 
    outline: none;
    background-color: #3D6A3D;
	height: 60px;
 	width: 60px;
 	border-radius: 30px;
 	border: none;
 	color: white;
 	margin: 0 auto;
 	line-height: 60px;
 	text-align: center;
}

.cancel {
	top: 28px;
    left: 219px;
}

.submit-comment:hover, .cancel:hover {
	background-color: #1B301B;
}


.newthread {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	position: relative;
    left: 875px;
    top: 2px;
    background-color: #A1A1A1;
}

.newthread:hover {
	background-color: #75B5D6;
}

.newthread-link {
	text-align: center;
    display: block;
    position: relative;
    margin-top: -125%;
    font-size: 22px;
    color: white;
    top:14px;
}
.entertainment {
 	background-color: #92CDB8;
 }
 .politics {
 	background-color: #92A769;
 }
.science {
 	background-color: #D0B566;
 }
.nonsense {
 	background-color: #BC96C6;
 }
 .film {
 	background-color: #D87E7E;
 } 
.music {
 	background-color: #D68E61;
 }


.new-form, .edit-form {
	width: 563px;
	height: 400px;
	position: relative;
	top: 110px;
}

.new-container, .edit-container {
	width: 550px;
	height: 550px;
	border-radius: 275px;
	background-color: #9FDA9F;
	margin: 0 auto;
}





.a {
 	background-color: #92CDB8;
 	top: 166px;
    left: 381px;
 }
 .b {
 	background-color: #92A769;
 	top: 146px;
    left: 809px;
 }
.c {
 	background-color: #D0B566;
 	top: 54px;
    left: 587px;
 }
.d {
 	background-color: #BC96C6;
 	top: 273px;
    left: 611px;
 }
 .e {
 	background-color: #D87E7E;
 	top: 21px;
    left: 144px;
 } 
.f {
 	background-color: #D68E61;
 	top: 240px;
    left: 153px;
 }