<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <meta charset="UTF-8">
  <title>Sign up</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <h1>Enter the information to sign up! Or <a href="/">Log In!</a></h1>
  <form action="/users/new" method="post">
    <input  type="text"
            name="user[username]"
            placeholder="Enter Username">Choose a Username<br/>
    <input  type="password"
            name="user[password]"
            placeholder="Enter Password">Create a Password<br/>
    <input  type="submit"
            value="Sign up">
  </form>

</body>
</html>