<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Enter the information to sign up! Or <a href="/">Log In!</a></h1>
  <form action="/users/new" method="post">
    <input  type="text"
            name="user[username]"
            placeholder="Enter Username">Choose a Username<br/>
    <input  type="password"
            name="user[password]"
            placeholder="Enter Password">Create a Password<br/>
    <input  type="submit"
            value="Sign up">
  </form>

</body>
</html>