<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Choose a Category</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>What do you want to see</h1>
  <form action="/logout" method="post">
    <input type="submit"
            value="Logout">
  </form>
    <a href="/categories/entertainment">Entertainnment</a><br/>
    <a href="/categories/politics">Politics</a><br/>
    <a href="/categories/science-technology">Science & Technology</a><br/>
    <a href="/categories/nonsense">Nonsense</a><br/>
    <a href="/categories/other">Other</a><br/>
</body>
</html>
